body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #564caf;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button{
    background-color: #5645a0;
}

input[type="button"] {
    background-color: #3ec74c;
}


input[type="button"]:hover {
    background-color: #5645a0;
}


input[type="submit"]:hover {
    background-color: #5645a0;
}

/* Ajoutez ces styles à la fin de votre fichier CSS */

/* Ajoutez ces styles à la fin de votre fichier CSS */

#plus {
    width: 50px; /* Ajustez la largeur selon vos besoins */
    height: 50px; /* Ajustez la hauteur selon vos besoins */
    border-radius: 50%; /* Rend le bouton rond */
    background-color: #3ec74c;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Ajustez la taille de la police selon vos besoins */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centre le bouton horizontalement */
}

#plus:hover {
    background-color: #5645a0;
}

